<div class="container bg-light py-5">
    <h1 class="display-5 fw-bold">Welcome to Angular Test</h1>
    <p class="col-md-8 fs-4">This quiz will contains total 10 questions. Each question holds 10 points</p>
    <h4>Rules:</h4>
    <ol>
        <li>Correct question gives you 10 points</li>
        <li>Incorrect Question gives you -10 points</li>
        <li>You will have 30 seconds for each question</li>
        <li>Refreshing the page will reset the test</li>
    </ol>
    <h1 style="font-family: cursive;text-align:center; color: green;">All the best!!</h1>
    <div class="name col-mid-4 my-3">
        <label for="name" class="fw-bold">Enter your name:</label>
        <input #name type="text" class="form-control" style="width: 300px">

    </div>
    <button class="btn btn-primary btn-lg" routerLink="/question" (click)="startTest()">Start the Test!!</button>


</div>
